<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.android_studio.gibdd_servis">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_logo"
        android:label="Сервисы ГИБДД"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".driver.activity.RequestDriverActivity" android:label="@string/check_driver">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".driver.activity.ResultDriverActivity" android:label="@string/check_driver">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".driver.activity.RequestDriverActivity" />
        </activity>
        <activity android:name=".car.activity.RequestAutoActivity" android:label="@string/check_auto">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".car.activity.ResultAutoActivity" android:label="@string/check_auto">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".car.activity.RequestAutoActivity" />
        </activity>
        <activity android:name=".fine.activity.RequestFineActivity" android:label="@string/check_fine">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".fine.activity.ResultFineActivity" android:label="@string/check_fine">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".fine.activity.RequestFineActivity" />
        </activity>
        <activity android:name=".question.activity.QuestionActivity" android:label="@string/check_question">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".question.activity.QuestionActivityNext" android:label="@string/check_question">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".question.activity.QuestionActivity" />
        </activity>
    </application>

</manifest>